.edit_team_section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.edit_team_section .form_container {
    width: 70%;
    margin: 0 auto;
    background-color: rgba(192, 192, 192, 0.121);
    max-height: 600px;
    min-height: 400px;
    margin-top: 70px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.edit_team_section .form_container .edit_team_btn {
    background-color: var(--primary-color);
    border: none;
    color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
}

.image_section img {
    width: 60px;
}

.edit_team_section .form_container .file_error {
    color: red;
}


